*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
  box-shadow: inset 0 0 10px cornflowerblue;
}

html,
body,
main {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

button,
input {
  appearance: none;
  border: 0;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li > ul {
  margin-left: 1em;
}
